html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  -webkit-app-region: drag;
}

body {
  font: menu;
  font-size: 12px;
  line-height: 1.4;
  text-rendering: geometricPrecision;
}

body #root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
}

a {
  cursor: default;
}

a.link {
  cursor: pointer;
}

.container {
  height: 100%;
}

.contact-container {
  background: white;
  float: left;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: calc(100% - 151px - 248px);
  box-sizing: border-box;
}

.sidebar {
  width: 151px;
  float: left;
  height: 100%;
  padding-top: 26px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: transparent;
  box-sizing: border-box;
}

.sidebar__title {
  font-size: 13px;
  font-weight: 400;
  margin-left: 19px;
  margin-bottom: 11px;
}

.sidebar__group {
  padding: 0px 0 8px 0;
}

.sidebar__group__header {
  color: #777;
  padding: 0 9px;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 3px;
}

.sidebar__group__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar__group__list li {
  height: 24px;
  padding: 0 9px 0 19px;
}

.sidebar__group__list li.active {
  background: #1478ec;
}

.sidebar__group__list li.active a {
  color: white;
  font-weight: 400;
}

.sidebar__group__list li a {
  height: 23px;
  line-height: 25px;
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 12.7px;
  color: #181818;
}

.container {
  height: 100%;
}

.contact-container {
  background: white;
  float: left;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: calc(100% - 151px - 248px);
  box-sizing: border-box;
}

.contacts-list {
  background: white;
  width: 248px;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  float: left;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  box-sizing: border-box;
}

.contacts__search {
  height: 54px;
  overflow: hidden;
  padding: 23px 22px 6px 14px;
  box-sizing: border-box;
}

.contacts__search input {
  width: 100%;
  margin: 0;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: none;
  font-size: 13px;
  font-weight: 300;
}

.contacts__search__results {
  height: calc(100% - 55px);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  -webkit-app-region: no-drag;
}

.contacts__search__results ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__search__results ul li {
  height: 23px;
  padding: 0 9px 0 32px;
}

.contacts__search__results ul li.group__title {
  border-bottom: 1px solid #dddddd;
  height: 20px;
  padding-left: 8px;
  font-weight: 600;
  color: #888;
  padding-top: 3px;
  margin: 0 14px;
  font-size: 13px;
}

.contacts__search__results ul li.active {
  background: #116cd6;
}

.contacts__search__results ul li.active a {
  color: white;
  font-weight: 400;
}

.contacts__search__results ul li.active a strong {
  font-weight: 500;
}

.contacts__search__results ul li a {
  height: 23px;
  line-height: 24px;
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  color: #181818;
}

.contacts__search__results ul li a strong {
  font-weight: 500;
}

.hidden {
  display: none;
}
