@import "colors";

$width_sidebar: 151px;
$width_contacts_list: 248px;

.container {
  height: 100%;
}

.contact-container {
  background: white;
  float: left;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: calc(100% - #{$width_sidebar} - #{$width_contacts_list});
  box-sizing: border-box;
}
